@import '~susy/sass/susy';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import '~breakpoint-slicer/stylesheets/breakpoint-slicer';
@import '~sass-toolkit/stylesheets/toolkit';
@import '~sass-toolkit/stylesheets/toolkit/kickstart';

@import 'layout';

//@include content-fade-in();

.wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    visibility: hidden;
  }
}

$color: #ff0;
$color2: #f00;

body {
  @include container(80em); // to test susy

  @include at(3) { //  to test breakpoint-slicer
    background-color: $color2;
	}

  background-color: $color; // to test sass
  display: flex; // to test prefixer
  font-family: "Open Sans", sans;
}

nav {
  @include span(25%);
}
